// '/node_modules/' prefix added to make VS Code SCSS intellisence working
// TODO: check if the bug is fixed and remove '/node_modules/' prefix
@use '/node_modules/@angular/material' as mat;
@use '../variables' as vars;

@include mat.core();

$dark-theme: mat.define-dark-theme((
 color: (
   primary: vars.$dark-primary-palette,
   accent: vars.$dark-accent-palette,
   // The "warn" palette is optional and defaults to red if not specified.
   warn: vars.$dark-warn-palette,
 )
));

// These mixins behave the same as individual component mixins,
// except they emit styles for core-theme and all 35+ components in Angular Material.
// Unless your application uses every single component, this will produce unnecessary CSS.
// @include mat.all-component-themes($dark-theme);

// Emit theme-dependent styles for common features used across multiple components.
@include mat.core-theme($dark-theme);

// Emit styles for MatButton based on `$dark-theme`. Because the configuration
// passed to `define-dark-theme` omits typography, `button-theme` will not
// emit any typography styles.
@include mat.autocomplete-theme($dark-theme);
@include mat.button-theme($dark-theme);
@include mat.form-field-theme($dark-theme);
@include mat.icon-theme($dark-theme);
@include mat.input-theme($dark-theme);
@include mat.menu-theme($dark-theme);
@include mat.sidenav-theme($dark-theme);
@include mat.toolbar-theme($dark-theme);
@include mat.tree-theme($dark-theme);
