// '/node_modules/' prefix added to make VS Code SCSS intellisence working
// TODO: check if the bug is fixed and remove '/node_modules/' prefix
@use '/node_modules/@angular/material' as mat;
@use '../variables' as vars;

@include mat.core();

$light-theme: mat.define-light-theme((
 color: (
   primary: vars.$light-primary-palette,
   accent: vars.$light-accent-palette
 )
));

// These mixins behave the same as individual component mixins,
// except they emit styles for core-theme and all 35+ components in Angular Material.
// Unless your application uses every single component, this will produce unnecessary CSS.
// @include mat.all-component-themes($light-theme);

// Emit theme-dependent styles for common features used across multiple components.
@include mat.core-theme($light-theme);

// Emit styles for MatButton based on `$light-theme`. Because the configuration
// passed to `define-light-theme` omits typography, `button-theme` will not
// emit any typography styles.
@include mat.autocomplete-theme($light-theme);
@include mat.button-theme($light-theme);
@include mat.form-field-theme($light-theme);
@include mat.icon-theme($light-theme);
@include mat.input-theme($light-theme);
@include mat.menu-theme($light-theme);
@include mat.sidenav-theme($light-theme);
@include mat.toolbar-theme($light-theme);
@include mat.tree-theme($light-theme);
