// '/node_modules/' prefix added to make VS Code SCSS intellisence working
// TODO: check if the bug is fixed and remove '/node_modules/' prefix
@use '/node_modules/@angular/material' as mat;

// Set palettes
$dark-primary-palette: mat.define-palette(mat.$indigo-palette);
$dark-accent-palette: mat.define-palette(mat.$blue-gray-palette);
$dark-warn-palette: mat.define-palette(mat.$red-palette);
$light-primary-palette: mat.define-palette(mat.$indigo-palette);
$light-accent-palette: mat.define-palette(mat.$light-blue-palette);

// From @angular/material/core/theming/_palette.scss
// Copy past because these colors are not showed by @forward in  @angular/material/_index.scss
$dark-primary-text: rgba(black, 0.87);
$dark-secondary-text: rgba(black, 0.54);
$dark-disabled-text: rgba(black, 0.38);
$dark-dividers: rgba(black, 0.12);
$dark-focused: rgba(black, 0.12);
$light-primary-text: white;
$light-secondary-text: rgba(white, 0.7);
$light-disabled-text: rgba(white, 0.5);
$light-dividers: rgba(white, 0.12);
$light-focused: rgba(white, 0.12);

// Palettes colors
$dark_primary_50: mat.get-color-from-palette($dark-primary-palette, 50);
$dark_primary_100: mat.get-color-from-palette($dark-primary-palette, 100);
$dark_primary_200: mat.get-color-from-palette($dark-primary-palette, 200);
$dark_primary_300: mat.get-color-from-palette($dark-primary-palette, 300);
$dark_primary_400: mat.get-color-from-palette($dark-primary-palette, 400);
$dark_primary: mat.get-color-from-palette($dark-primary-palette, 500);
$dark_primary_600: mat.get-color-from-palette($dark-primary-palette, 600);
$dark_primary_700: mat.get-color-from-palette($dark-primary-palette, 700);
$dark_primary_800: mat.get-color-from-palette($dark-primary-palette, 800);
$dark_primary_900: mat.get-color-from-palette($dark-primary-palette, 900);
$dark_primary_A100: mat.get-color-from-palette($dark-primary-palette, 'A100');
$dark_primary_A200: mat.get-color-from-palette($dark-primary-palette, 'A200');
$dark_primary_A400: mat.get-color-from-palette($dark-primary-palette, 'A400');
$dark_primary_A700: mat.get-color-from-palette($dark-primary-palette, 'A700');
$dark_primary_contrast_50: mat.get-color-from-palette($dark-primary-palette, '50-contrast');
$dark_primary_contrast_100: mat.get-color-from-palette($dark-primary-palette, '100-contrast');
$dark_primary_contrast_200: mat.get-color-from-palette($dark-primary-palette, '200-contrast');
$dark_primary_contrast_300: mat.get-color-from-palette($dark-primary-palette, '300-contrast');
$dark_primary_contrast_400: mat.get-color-from-palette($dark-primary-palette, '400-contrast');
$dark_primary_contrast: mat.get-color-from-palette($dark-primary-palette, '500-contrast');
$dark_primary_contrast_600: mat.get-color-from-palette($dark-primary-palette, '600-contrast');
$dark_primary_contrast_700: mat.get-color-from-palette($dark-primary-palette, '700-contrast');
$dark_primary_contrast_800: mat.get-color-from-palette($dark-primary-palette, '800-contrast');
$dark_primary_contrast_900: mat.get-color-from-palette($dark-primary-palette, '900-contrast');
$dark_primary_contrast_A100: mat.get-color-from-palette($dark-primary-palette, 'A100-contrast');
$dark_primary_contrast_A200: mat.get-color-from-palette($dark-primary-palette, 'A200-contrast');
$dark_primary_contrast_A400: mat.get-color-from-palette($dark-primary-palette, 'A400-contrast');
$dark_primary_contrast_A700: mat.get-color-from-palette($dark-primary-palette, 'A700-contrast');

$dark_accent_50: mat.get-color-from-palette($dark-accent-palette, 50);
$dark_accent_100: mat.get-color-from-palette($dark-accent-palette, 100);
$dark_accent_200: mat.get-color-from-palette($dark-accent-palette, 200);
$dark_accent_300: mat.get-color-from-palette($dark-accent-palette, 300);
$dark_accent_400: mat.get-color-from-palette($dark-accent-palette, 400);
$dark_accent: mat.get-color-from-palette($dark-accent-palette, 500);
$dark_accent_600: mat.get-color-from-palette($dark-accent-palette, 600);
$dark_accent_700: mat.get-color-from-palette($dark-accent-palette, 700);
$dark_accent_800: mat.get-color-from-palette($dark-accent-palette, 800);
$dark_accent_900: mat.get-color-from-palette($dark-accent-palette, 900);
$dark_accent_A100: mat.get-color-from-palette($dark-accent-palette, 'A100');
$dark_accent_A200: mat.get-color-from-palette($dark-accent-palette, 'A200');
$dark_accent_A400: mat.get-color-from-palette($dark-accent-palette, 'A400');
$dark_accent_A700: mat.get-color-from-palette($dark-accent-palette, 'A700');
$dark_accent_contrast_50: mat.get-color-from-palette($dark-accent-palette, '50-contrast');
$dark_accent_contrast_100: mat.get-color-from-palette($dark-accent-palette, '100-contrast');
$dark_accent_contrast_200: mat.get-color-from-palette($dark-accent-palette, '200-contrast');
$dark_accent_contrast_300: mat.get-color-from-palette($dark-accent-palette, '300-contrast');
$dark_accent_contrast_400: mat.get-color-from-palette($dark-accent-palette, '400-contrast');
$dark_accent_contrast: mat.get-color-from-palette($dark-accent-palette, '500-contrast');
$dark_accent_contrast_600: mat.get-color-from-palette($dark-accent-palette, '600-contrast');
$dark_accent_contrast_700: mat.get-color-from-palette($dark-accent-palette, '700-contrast');
$dark_accent_contrast_800: mat.get-color-from-palette($dark-accent-palette, '800-contrast');
$dark_accent_contrast_900: mat.get-color-from-palette($dark-accent-palette, '900-contrast');
$dark_accent_contrast_A100: mat.get-color-from-palette($dark-accent-palette, 'A100-contrast');
$dark_accent_contrast_A200: mat.get-color-from-palette($dark-accent-palette, 'A200-contrast');
$dark_accent_contrast_A400: mat.get-color-from-palette($dark-accent-palette, 'A400-contrast');
$dark_accent_contrast_A700: mat.get-color-from-palette($dark-accent-palette, 'A700-contrast');

$light_primary_50: mat.get-color-from-palette($light-primary-palette, 50);
$light_primary_100: mat.get-color-from-palette($light-primary-palette, 100);
$light_primary_200: mat.get-color-from-palette($light-primary-palette, 200);
$light_primary_300: mat.get-color-from-palette($light-primary-palette, 300);
$light_primary_400: mat.get-color-from-palette($light-primary-palette, 400);
$light_primary: mat.get-color-from-palette($light-primary-palette, 500);
$light_primary_600: mat.get-color-from-palette($light-primary-palette, 600);
$light_primary_700: mat.get-color-from-palette($light-primary-palette, 700);
$light_primary_800: mat.get-color-from-palette($light-primary-palette, 800);
$light_primary_900: mat.get-color-from-palette($light-primary-palette, 900);
$light_primary_A100: mat.get-color-from-palette($light-primary-palette, 'A100');
$light_primary_A200: mat.get-color-from-palette($light-primary-palette, 'A200');
$light_primary_A400: mat.get-color-from-palette($light-primary-palette, 'A400');
$light_primary_A700: mat.get-color-from-palette($light-primary-palette, 'A700');
$light_primary_contrast_50: mat.get-color-from-palette($light-primary-palette, '50-contrast');
$light_primary_contrast_100: mat.get-color-from-palette($light-primary-palette, '100-contrast');
$light_primary_contrast_200: mat.get-color-from-palette($light-primary-palette, '200-contrast');
$light_primary_contrast_300: mat.get-color-from-palette($light-primary-palette, '300-contrast');
$light_primary_contrast_400: mat.get-color-from-palette($light-primary-palette, '400-contrast');
$light_primary_contrast: mat.get-color-from-palette($light-primary-palette, '500-contrast');
$light_primary_contrast_600: mat.get-color-from-palette($light-primary-palette, '600-contrast');
$light_primary_contrast_700: mat.get-color-from-palette($light-primary-palette, '700-contrast');
$light_primary_contrast_800: mat.get-color-from-palette($light-primary-palette, '800-contrast');
$light_primary_contrast_900: mat.get-color-from-palette($light-primary-palette, '900-contrast');
$light_primary_contrast_A100: mat.get-color-from-palette($light-primary-palette, 'A100-contrast');
$light_primary_contrast_A200: mat.get-color-from-palette($light-primary-palette, 'A200-contrast');
$light_primary_contrast_A400: mat.get-color-from-palette($light-primary-palette, 'A400-contrast');
$light_primary_contrast_A700: mat.get-color-from-palette($light-primary-palette, 'A700-contrast');

$light_accent_50: mat.get-color-from-palette($light-accent-palette, 50);
$light_accent_100: mat.get-color-from-palette($light-accent-palette, 100);
$light_accent_200: mat.get-color-from-palette($light-accent-palette, 200);
$light_accent_300: mat.get-color-from-palette($light-accent-palette, 300);
$light_accent_400: mat.get-color-from-palette($light-accent-palette, 400);
$light_accent: mat.get-color-from-palette($light-accent-palette, 500);
$light_accent_600: mat.get-color-from-palette($light-accent-palette, 600);
$light_accent_700: mat.get-color-from-palette($light-accent-palette, 700);
$light_accent_800: mat.get-color-from-palette($light-accent-palette, 800);
$light_accent_900: mat.get-color-from-palette($light-accent-palette, 900);
$light_accent_A100: mat.get-color-from-palette($light-accent-palette, 'A100');
$light_accent_A200: mat.get-color-from-palette($light-accent-palette, 'A200');
$light_accent_A400: mat.get-color-from-palette($light-accent-palette, 'A400');
$light_accent_A700: mat.get-color-from-palette($light-accent-palette, 'A700');
$light_accent_contrast_50: mat.get-color-from-palette($light-accent-palette, '50-contrast');
$light_accent_contrast_100: mat.get-color-from-palette($light-accent-palette, '100-contrast');
$light_accent_contrast_200: mat.get-color-from-palette($light-accent-palette, '200-contrast');
$light_accent_contrast_300: mat.get-color-from-palette($light-accent-palette, '300-contrast');
$light_accent_contrast_400: mat.get-color-from-palette($light-accent-palette, '400-contrast');
$light_accent_contrast: mat.get-color-from-palette($light-accent-palette, '500-contrast');
$light_accent_contrast_600: mat.get-color-from-palette($light-accent-palette, '600-contrast');
$light_accent_contrast_700: mat.get-color-from-palette($light-accent-palette, '700-contrast');
$light_accent_contrast_800: mat.get-color-from-palette($light-accent-palette, '800-contrast');
$light_accent_contrast_900: mat.get-color-from-palette($light-accent-palette, '900-contrast');
$light_accent_contrast_A100: mat.get-color-from-palette($light-accent-palette, 'A100-contrast');
$light_accent_contrast_A200: mat.get-color-from-palette($light-accent-palette, 'A200-contrast');
$light_accent_contrast_A400: mat.get-color-from-palette($light-accent-palette, 'A400-contrast');
$light_accent_contrast_A700: mat.get-color-from-palette($light-accent-palette, 'A700-contrast');

$mob-width: 600px;
$tab-width: 1025px;