.ngx-phone-input-container {
  display: flex;
}

.ngx-phone-input-element {
  border: none;
  background: none;
  padding: 0;
  outline: none;
  font: inherit;
  text-align: center;
}

.ngx-phone-input-spacer {
  opacity: 0;
  transition: opacity 200ms;
}

:host.ngx-floating .ngx-phone-input-spacer {
  opacity: 1;
}